.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  color: $white;

  &__title {
    text-align: center;
    p {
      font-size: 20px;
      font-weight: 400;
    }
    h1 {
      font-size: 40px;
      font-weight: 400;
    }
    h1 span {
      font-weight: 900;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    gap: 16px;

    a {
      display: block;
      text-decoration: none;
      width: fit-content;
      padding: 7px 30px;
      border-radius: 50px;
      border: none;
      background-color: $white;
      color: $blue-dark;
      font-size: 18px;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: scale(1.01);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
